<script
  src="https://www.paypal.com/sdk/js?client-id=<%= @client_id %>&vault=true">
</script>

<div id="paypal-button-container"></div>


<hr>

<script>
  paypal.Buttons({
    createSubscription: function(data, actions) {
      return actions.subscription.create({
        plan_id: '<%= @plan_id %>',
        application_context: {
          shipping_preference: 'NO_SHIPPING'
        }
      });
    },
    onApprove: function(data, actions) {
      create_subscription(data.subscriptionID);
      alert('You have successfully created subscription ' + data.subscriptionID);
    },
    onCancel: function (data) {
      alert('Payment canceled');
    },
    onError: function (err) {
      alert('Erro on payment: ' + err);
    }

  }).render('#paypal-button-container');
</script>


<script>
  function create_subscription(id){
    var formData = new FormData();
    formData.append('paypal_subscription_id', id);

    fetch(
      'http://localhost:3000/users/1/create_subscription',
      {
        method: 'POST',
        body: formData
      })
      .then(
        function(resp){
          console.log(resp);
        })
  }
</script>
