---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.paypal.com/v1/payments/billing-agreements/I-3PPUTTY7H9E3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QWJRZ29xVlBDTmpYTm9pdE9CU0k1dmZGLWdtN1NKTVlOX1FaRGJwajVab2h2SDFHejJYYzg3NEZYclZGV0hHZWlWQ0RuR1dfUTBzeWdSd1U6RUpOWFM3OHdSRDJSdVZCaVlhUEV5QmlCaFpocWZiTW5vd0hlT0lnS2xOMkNEZ0N4WGM0bU82WXFDaHc3S01XSV9wY1g1VkZXZGhxU0IwaE8=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - d3c9fcd9303c8
    body:
      encoding: UTF-8
      string: '{"id":"I-3PPUTTY7H9E3","state":"Active","description":"2 aulas regulares por semana, mais 2 aulas partculares por mês","start_date":"2020-07-25T03:00:00Z","payer":{"payment_method":"paypal","status":"verified","payer_info":{"email":"sb-ywg3e2516526@personal.example.com","first_name":"John","last_name":"Doe","payer_id":"S3SBWN9CAKBYJ"}},"plan":{"payment_definitions":[{"type":"REGULAR","frequency":"WEEK","amount":{"currency":"BRL","value":"330.00"},"cycles":"0","charge_models":[{"type":"TAX","amount":{"currency":"BRL","value":"0.00"}},{"type":"SHIPPING","amount":{"currency":"BRL","value":"0.00"}}],"frequency_interval":"1"}],"merchant_preferences":{"setup_fee":{"currency":"BRL","value":"0.00"},"max_fail_attempts":"3","auto_bill_amount":"YES"}},"links":[{"href":"https://api.sandbox.paypal.com/v1/payments/billing-agreements/I-3PPUTTY7H9E3/suspend","rel":"suspend","method":"POST"},{"href":"https://api.sandbox.paypal.com/v1/payments/billing-agreements/I-3PPUTTY7H9E3/re-activate","rel":"re_activate","method":"POST"},{"href":"https://api.sandbox.paypal.com/v1/payments/billing-agreements/I-3PPUTTY7H9E3/cancel","rel":"cancel","method":"POST"},{"href":"https://api.sandbox.paypal.com/v1/payments/billing-agreements/I-3PPUTTY7H9E3/bill-balance","rel":"self","method":"POST"},{"href":"https://api.sandbox.paypal.com/v1/payments/billing-agreements/I-3PPUTTY7H9E3/set-balance","rel":"self","method":"POST"}],"agreement_details":{"outstanding_balance":{"currency":"BRL","value":"0.00"},"cycles_remaining":"-1","cycles_completed":"1","next_billing_date":"2020-08-01T10:00:00Z","last_payment_date":"2020-07-26T02:32:07Z","last_payment_amount":{"currency":"BRL","value":"330.00"},"failed_payment_count":"0"}}'
  recorded_at: Sun, 26 Jul 2020 16:17:21 GMT
- request:
    method: get
    uri: https://api.sandbox.paypal.com/v1/payments/billing-agreements/I-123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QWJRZ29xVlBDTmpYTm9pdE9CU0k1dmZGLWdtN1NKTVlOX1FaRGJwajVab2h2SDFHejJYYzg3NEZYclZGV0hHZWlWQ0RuR1dfUTBzeWdSd1U6RUpOWFM3OHdSRDJSdVZCaVlhUEV5QmlCaFpocWZiTW5vd0hlT0lnS2xOMkNEZ0N4WGM0bU82WXFDaHc3S01XSV9wY1g1VkZXZGhxU0IwaE8=
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - d3c9fcd9303c8
    body:
      encoding: UTF-8
      string: '{"name":"MERCHANT_ACCOUNT_DENIED","debug_id":"d3c9fcd9303c8","message":"Profile
        ID is not valid for this account.  Please resubmit request with the correct
        profile ID.","information_link":"https://developer.paypal.com/docs/api/payments.billing-agreements#errors"}'
  recorded_at: Sun, 26 Jul 2020 16:17:21 GMT
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/billing-agreements/I-ID-TO-CANCEL/cancel
    body:
      encoding: UTF-8
      string: Authorization=Basic+QWJRZ29xVlBDTmpYTm9pdE9CU0k1dmZGLWdtN1NKTVlOX1FaRGJwajVab2h2SDFHejJYYzg3NEZYclZGV0hHZWlWQ0RuR1dfUTBzeWdSd1U6RUpOWFM3OHdSRDJSdVZCaVlhUEV5QmlCaFpocWZiTW5vd0hlT0lnS2xOMkNEZ0N4WGM0bU82WXFDaHc3S01XSV9wY1g1VkZXZGhxU0IwaE8%3D&content_type=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - 8939f18bcadaa
    body:
      encoding: UTF-8
      string: '{"name":"AUTHENTICATION_FAILURE","message":"Authentication failed due
        to invalid authentication credentials or a missing Authorization header.","links":[{"href":"https://developer.paypal.com/docs/api/overview/#error","rel":"information_link"}]}'
  recorded_at: Sun, 26 Jul 2020 00:00:00 GMT
recorded_with: VCR 6.0.0
