<p id="notice"><%= notice %></p>

<h1>Teachers</h1>

<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td>
          <% if teacher.photo.attached? %>
            <img src="<%= url_for(teacher.photo.variant(combine_options: {resize: '900>', gravity: 'Center', crop: '900x200+0+0'})) %>">
          <% end %>
        </td>
        <td><%= link_to teacher.name, teacher %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Teacher', new_teacher_path %>
